<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computers as a hobby and as a profession. I'm always looking for interesting
                things that computers and the Internet can do. As a developer, I have experience working on desktop
                applications and making web applications. In my free time, I enjoy maintaining a personal Linux server
                that hosts containerized services of mine.
            </p>
            <p class="paragraph-text justify-text">
                I find it honorable when people make and contribute to open source projects, especially the ones that
                keep the Internet running. I strive to use open source projects and contribute to them where I can as
                a way to give back to the community that has already provided so much.
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My
                email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this
                page.
            </p>
        </div>
    </section>
</div>